---
theme :
  name : twitter
layout: default
---
{% include JB/setup %}
{% include themes/twitter/post.html %}
<div id="gitmentContainer"></div>
<link rel="stylesheet" href="https://jjeejj.github.io/css/gitment.css">
<script src="https://jjeejj.github.io/js/gitment.js"></script>
<script>
var gitment = new Gitment({
    id: '{{page.title}}',
    owner: 'drizzleing',
    repo: 'drizzleing.github.io',
    oauth: {
        client_id: '0d03de2d72aff7baf1ef',
        client_secret: '39c43967e6359b4b248649b95430b9083c6cbffa',
    },
});
gitment.render('gitmentContainer');
</script>
