---
theme :
  name : twitter
layout: default
---
{% include JB/setup %}
{% include themes/twitter/post.html %}
<div id="gitmentContainer"></div>
<link rel="stylesheet" href="//imsun.github.io/gitment/style/default.css">
<script src="//imsun.github.io/gitment/dist/gitment.browser.js"></script>
<script>
var gitment = new Gitment({
    id: '{{page.title}}',
    owner: 'drizzleing',
    repo: 'drizzleing.github.io',
    oauth: {
        client_id: 'c536da6ce27bda31559b',
        client_secret: '3aec2737c5991899754d69f13457262b6dc67fb1',
    },
});
gitment.render('gitmentContainer');
</script>
