---
theme :
  name : twitter
layout: default
---
{% include JB/setup %}
{% include themes/twitter/post.html %}
<div id="gitmentContainer"></div>
<link rel="stylesheet" href="https://billts.site/extra_css/gitment.css">
<script src="https://billts.site/js/gitment.js"></script>
<script>
var gitment = new Gitment({
    id: '<%= page.date %>'
    owner: 'drizzleing',
    repo: 'drizzleing.github.io',
    oauth: {
        client_id: 'fdc46d8ebd31cbdbc26c',
        client_secret: 'c332f9a44f6bfd438522e82a4670b0c738736c26',
    },
});
gitment.render('gitmentContainer');
</script>
